body {
  background-color: antiquewhite;
}
.time {
  width: 100vw;
  height: 100vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeButton {
  display: flex;
  gap: 20px;
}

.second {
  color: rgb(139, 139, 139);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: solid 1px crimson;
  font-size: 15px;
  border-radius: 5px;
  background-color: crimson;
  color: white;
}
.button:hover {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(250, 78, 112);
  border: solid 1px rgb(250, 78, 112);
  color: white;
}
